doctype html
html(lang="es")
  head
    title UCAB Mailbox
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/animate.css")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300italic' rel='stylesheet' type='text/css')
  body(class="fondo")
    section(class="full-height text-center")
      div(class="col-md-3 center-block quitar-float text-center" style="margin-top: 20em;")
        div(class="caja-fondo espacio-arriba")
          h1(class="mediano lato") Registro exitoso.
          a(href="/") Volver.